@media screen and (max-width: 1439px){
    section .illustration{
        max-width: 550px;
    }

    section#upper form{
        max-width: 475px;
    }

    .depoiment-box{
        max-width: 800px;
    }

    section#subscription form{
        max-width: 475px;
        margin: 0 auto
    }
}

@media screen and (min-width: 1440px){
    header .container{
        margin-top: 2rem;
    }

    header .logo img{
        width: 15rem;
    }

    nav ul{
        gap: 7rem;
    }

    nav ul li a{
        font-size: 1.8rem;
    }
    /*              upper  section          */
    section#upper, section#lower{
        display: flex;
        flex-direction: row-reverse;
        margin: 7rem auto;
        width: 90%;
        max-width: 1300px;
        align-items: center;
    }

    section#upper .container:nth-child(2){ /*textcontent of the section*/
        width: auto;
        align-items: flex-start;
    }

    section#upper h1, section#upper p{
        text-align: start;
    }

    section#upper h1{
        font-size: 3.8rem;
    }

    section#upper p{
        font-size: 1.6rem;
    }

    section .illustration{
        width: 680px;
        margin-left: auto;
        margin-bottom: 0;
    }

    section#upper form{
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        height: 6rem; /* to give the .error-message space to show up */
    }

    section form .form-format{
        width: 60%;
    }

    section#upper .emailbox{
        font-size: 1.7rem;
    }

    section#upper .btn{
        margin-top: 0;
        width: 36%;
        font-size: 1.6rem;
        max-height: 45px;
    }
    /*            lower  section           */
    section#lower{
        margin-top: 20em;
    }

    section#lower .container:nth-child(2){ /*textcontent of the section*/
        display: flex;
        align-items: flex-start;
    }

    section#lower h3{
        font-size: 3.6rem;
    }

    section#lower .p-lower{
        color: var(--primary--vdblue);
        font-size: 1.6rem;
        width: 85%;
    }

    section#lower .depoiment-box{
        width: 55%;
    }

    .seefylo-link a{
        font-size: 1.6rem;
    }

    .depoiment-box .testimonial{
        font-size: 1.3rem;
    }

    .depoiment-box .attribution_text span{
        font-size: 1rem;
    }
    /*          subcribe     section       */
    section#subscription .sub_contentarea{
        flex-direction: row;
        max-width: 1300px;
    }

    section#subscription .subscription_text{
        padding-bottom: 5rem;
        width: 65%;
    }

    section#subscription h3,
    section#subscription p{
        text-align: left;
    }

    section#subscription h3{
        font-size: 2.8rem;
    }

    section#subscription p{
        font-size: 1.6rem;
        width: 85%;
        margin-left: 0;
    }

    section#subscription form{
        display: flex;
        align-items: flex-end;
    }

    section#subscription .form-position{
        width: 90%;
        justify-content: center;
        height: 100%;
        padding-top: 2rem;
    }

    section#subscription .emailbox{
        width: 80%;
        font-size: 1.4rem;
        padding-top: 1rem;
    }
    
    section#subscription .btn{
        width: 30%;
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-top: 1rem;
    }
    /*    FOOTER    */
    .footer-container{
        padding-top: 7rem;
        width: 90%;
        max-width: 1300px;
    }
    
    .footer-logo{
        margin-bottom: 1rem;
    }
    
    .footer-tabs{
        flex-direction: row;
        gap: 20rem;
        padding-bottom: 10rem;
    }

    .footer-info{
        margin-top: .5rem;
    }

    .icon{
        width: 20px;
    }
}